CLIENT_ID=
CLIENT_PASS=
TOKEN=


SOCKET_SERVER_URL=
RECONNECTION_INTERVAL=
NODE_ENV=


# --------------------------------------------------------------------
# 2023-Now (c) MiaJupiter. All rights reserved. https://miajupiter.com